langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-cohere
python-dotenv
langsmith
pypdf
transformers
sentence-transformers
faiss-cpu
streamlit
pytesseract
pdf2image
pillow